<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/themes/bootstrap-table/bootstrap-table.min.css">

    <title>MEAN</title>
    <style type="text/css">
    	button#borrar {background-color: red; border: 2px solid red; color: white;}
    	button#editar {background-color: green; border: 2px solid green; color: white;}
    	button#nuevo {background-color: blue; border: 2px solid blue; color: white; margin-bottom: 5%; width: 100px; height: 40px; margin-left: 60%;}
      button#detalle {background-color: purple; border: 2px solid purple; color: white;}
    </style>
  </head>
  <body>
  	<nav >
  		<div class="container">
  			<p style="margin-left: 40%;">MongoDB, Express, Node, HTML</p>

  		</div>

  	</nav>
  	   @!section('content')

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/themes/bootstrap-table/bootstrap-table.min.js"></script>
  </body>
</html>